<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<div class="nav">
  <div class="nav-header">
    
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <input type="checkbox" id="nav-check">
  <div class="nav-links">
    <a href="/" ><strong>Home</strong></a>
    <a href="/about"><strong>Our why</strong></a>
    <a href="/podcast" ><strong>The Ageless Starman</strong></a>
   <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=5SYKAS7SAXE8C&source=url"><strong>Donate</strong></a> 
  </div>
</div>

<router-outlet (activate)="onActivate($event)"></router-outlet>
<script type="text/javascript" src="skrollr.min.js"></script>
    <script type="text/javascript">
    var s = skrollr.init();
    </script>
    <script type="text/javascript" src="skrollr.min.js">

</script>
