 
<div class="bg" [ngStyle]=" {'background':podcast.background}"*ngIf="podcast">
     <h2 class="main"> {{ podcast.name}} <br>
     <div><a style="font-size:16px;" href="{{podcast.pod}}" download="The Ageless Starman - {{ podcast.name }}">Download episode</a> </div>
     </h2> 
     
     <img src='{{podcast.pic}}'>
     <div class="details">
        <p>The Rise Of The Ageless Starman<br> Episode {{podcast.id}}<br> Guest: {{ podcast.particpate }}</p>
        <span><a (click)="toggle()"><img class='play' [src]="image" ></a></span> 
    </div>     
</div>
<div *ngIf="podcast" class="brief" id='player'> 
   <div style="height:150px;"></div>      
   <div *ngIf="show_dialog">
          <iframe title='' [src]="url" data-link='https://www.podbean.com/media/player/wjfci-b6a134?from=yiiadmin&download=1&version=1' allow="autoplay" height='122' width='80%' style='border: none;' scrolling='no' data-name='pb-iframe-player' ></iframe>
   </div>  
   <br><br><br> 
   <p><strong>{{ podcast.particpate}}</strong> - {{ podcast.pro}} </p>
   <br><br>
   <p>{{ podcast.brief }}</p>
   <img class='credit' src='{{podcast.credit}}'> 
</div>
    
  
 
